<div id="donate">
	<h1>Support the Cause</h1>
		<p> Will you make a donation today to help us end food insecurity? <br />
	<strong>100%</strong> the money collected will go to purchase, pack, and ship food both locally and globally.</p>

<button type="button" class="button primButton">Donate via PayPal</button>

</div>

