<div class=stepTitle>
  <h3>Step 1: Select a food to throw!</h3>
</div>
  
<div id="foodHolder">
  <div class="dummyFood">
    <div class=foodImage></div>
    <div class=foodName>Food Name 1</div>
  </div>
  <div class="dummyFood">
    <div class=foodImage></div>
    <div class=foodName>Food Name 2</div>
  </div>
  <div class="dummyFood">
    <div class=foodImage></div>
    <div class=foodName>Food Name 3</div>
  </div>
  <div class="dummyFood">
    <div class=foodImage></div>
    <div class=foodName>Food Name 4</div>
  </div>
  <div class="dummyFood">
    <div class=foodImage></div>
    <div class=foodName>Food Name 5</div>
  </div>
  <div class="dummyFood">
    <div class=foodImage></div>
    <div class=foodName>Food Name 6</div>
  </div>
  <div class="dummyFood">
    <div class=foodImage></div>
    <div class=foodName>Food Name 7</div>
  </div>
  <div class="dummyFood">
    <div class=foodImage></div>
    <div class=foodName>Food Name 8</div>
  </div>
  <div class="dummyFood">
    <div class=foodImage></div>
    <div class=foodName>Food Name 9</div>
  </div>
  <div class="dummyFood">
    <div class=foodImage></div>
    <div class=foodName>Food Name 10</div>
  </div>
  <div class="dummyFood">
    <div class=foodImage></div>
    <div class=foodName>Food Name 11</div>
  </div>
  <div class="dummyFood">
    <div class=foodImage></div>
    <div class=foodName>Food Name 12</div>
  </div>
  <div class="dummyFood">
    <div class=foodImage></div>
    <div class=foodName>Food Name 13</div>
  </div>
</div>

<div class='buttonHolder'> <!--use for each step-->
  <%= link_to "Previous", index_path, :class => "button secButton prevButton", :remote => true %>
  <%= link_to "Next", select_friend_path, :class => "button secButton nextButton", :remote => true %>
</div>