<div class=stepTitle>
  <h3>Step 1: Who do you want to throw it at?</h3>
</div>
  
<div id="foodHolder">
  <div class="dummyFood">
    <div class=foodImage></div>
    <div class=foodName>Friend Name 1</div>
  </div>
  <div class="dummyFood">
    <div class=foodImage></div>
    <div class=foodName>Friend Name 2</div>
  </div>
  <div class="dummyFood">
    <div class=foodImage></div>
    <div class=foodName>Friend Name 3</div>
  </div>
  <div class="dummyFood">
    <div class=foodImage></div>
    <div class=foodName>Friend Name 4</div>
  </div>
  <div class="dummyFood">
    <div class=foodImage></div>
    <div class=foodName>Friend Name 5</div>
  </div>
  <div class="dummyFood">
    <div class=foodImage></div>
    <div class=foodName>Friend Name 6</div>
  </div>
  <div class="dummyFood">
    <div class=foodImage></div>
    <div class=foodName>Friend Name 7</div>
  </div>
  <div class="dummyFood">
    <div class=foodImage></div>
    <div class=foodName>Friend Name 8</div>
  </div>
  <div class="dummyFood">
    <div class=foodImage></div>
    <div class=foodName>Friend Name 9</div>
  </div>
  <div class="dummyFood">
    <div class=foodImage></div>
    <div class=foodName>Food Name 10</div>
  </div>
  <div class="dummyFood">
    <div class=foodImage></div>
    <div class=foodName>Friend Name 11</div>
  </div>
  <div class="dummyFood">
    <div class=foodImage></div>
    <div class=foodName>Friend Name 12</div>
  </div>
  <div class="dummyFood">
    <div class=foodImage></div>
    <div class=foodName>Friend Name 13</div>
  </div>
</div>

<div class='buttonHolder'> <!--use for each step-->
  <%= link_to "Previous", select_food_path, :class => "button secButton prevButton", :remote => true %>
  <%= link_to "Next", throw_food_path, :class => "button secButton nextButton", :remote => true %>
</div>