<div class="main-content">
  <h1><small>Welcome to Food Fight where blah blah blah...</small></h1>
  <%= button_to "Sign in with Facebook", "/auth/facebook", class: "food-btn btn btn-primary", id: "sign_in" %>
</div>