// Place all the styles related to the donate controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.stepTitle {
	text-align:center;
	}

.prevButton {
	float:left;
	}

.nextButton {
	float:right;
	}

.buttonHolder {
	margin-top:8px;
	height:36px;
 }

#foodHolder {
	border: 1px solid #000; /* temp */
	display:flex;
	flex-flow:row wrap;
	}

.dummyFood {
	padding:20px;
	margin:0px auto;
	}

.foodImage {
	width: 100px;
	height:100px;
	border-radius:50px;
	background-color:lightgray;
	margin-left:auto;
	margin-right:auto;
	}

.foodName {
	text-align:center;
	margin-top:6px;
	}