<!DOCTYPE html>
<html>
  <head>
    <title>FoodFight</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body><div id="fb-root"></div>
      <div class="header">
        <ul class="navbar">
          <li class="active"><a class="nav-link" href="/index">Join the Fight</a></li>
          <li><a class="nav-link" href="/about" id="">About Us</a></li>
          <li><a class="nav-link" href="#">Donate</a></li>
        </ul>
      </div>
    <div id = "content">
      <%= yield -%>
      <div id="hero_image">
        <img src='public/veggies.jpg' />
      </div>
    </div>
  </body>
</html>
